/* 
MAIN COLORS
Lighter grey: #55687A;
Dark blue: #2D3945;
Tale (button): #4EBBB5; 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #b0b0b0;
 }

 p {
    font-size: 1.1rem;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: #2D3945;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

h2 {
    color: #2D3945;
    margin-bottom: 15px;
    font-size: 1.35rem;
}

 legend,
 #contact label,
 .copyright {
    text-transform: capitalize;
 }

 header,
 .signup {
    text-align: center;
 }

 .signup {
     padding: 0 20px 20px 20px;
 }

 header p {
     margin-bottom: 30px;
 }

 .hr-1 {
     border: 3px solid #2D3945;
     margin-bottom: 5px;
 }

 .hr-2 {
     border: 1px solid #2D3945;
     margin-bottom: 30px;
 }

 .container {
     margin: 0 30px 0 30px;
 }

 fieldset {
     border: none;
     margin-top: 20px;
     margin-bottom: 30px;
 }

 legend {
     font-size: 1.35rem;
     font-weight: bold;
     color: #2D3945;
     margin-bottom: 20px;
 }

 .copyright {
     text-align: center;
     margin-bottom: 150px;
     font-style: italic;
     font-size: 1rem;
 }

/* --------- STYLING FORMS --------- */

#contact input {
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-width: 100%;
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

input::placeholder {
    text-align: right;
}

input:focus {
    outline-color: #2D3945;
}

#state {
    background-color: #e8e8e8;
    padding: 20px;
    border: none;
    border-radius:5px;
    width: 100%;
    color: grey;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

select {
    margin-top: 15px;
    margin-bottom: 15px;
}

#newsletter p {
    margin-bottom: 15px;
    margin-top: 10px;
}

#newsletter input {
    margin: 0 15px 15px 0;
}

textarea {
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

textarea:focus {
    outline-color: #2D3945;
}

/* --------- BUTTONS --------- */

button {
     font-size: 1.35rem;
     font-family: 'Merriweather', serif;
     width: 100%;
     padding: 20px 0 20px 0;
     border: none;
     border-radius: 5px;
     background-color: #4EBBB5; 
     color: #fff;
 }

 /* --------- MEDIA QUERIES --------- 
 
  @media (min-width: 769px)

  @media (min-width: 1024px)
  
  */
 
